/*
* @Author: vip
* @Date:   2017-07-13 09:50:13
* @Last Modified by:   vip
* @Last Modified time: 2017-07-13 14:10:16
*/

body { 
	margin: 0px;
	padding: 0px;
	font-size: 14px;
}

a {
	cursor: pointer; 
}

a:hover {
	color: #cc0000;
	text-decoration: none; 
}

.main {
	width: 1200px;
	margin: 0px auto;
}

.fl {
	float: left; 
}

.fr {
	float: right; 
}

.clear {
	clear: both; 
}

.text-long {   
    width: 100%;  
    overflow: hidden;   
    text-overflow: ellipsis; 
	display: -webkit-box; 
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}



/* info-screen */

.info-screen {
	width: 1200px;
	background: #fff; 
}

.column {
	height: 60px;
	line-height: 24px;
	padding: 18px 20px;
	color: #666;
	border-bottom: 1px solid #f2f2f2; 
}

.column a {
	height: 24px;
	line-height: 24px;
	padding: 0px 20px;
	color: #333;
	display: inline-block; 
}

.column a:hover {
	color: #cc0000; 
}

.column .active,.column .active:hover {
	color: #fff;
	 background: #cc0000;
	 border-radius: 4px; 
}

.tag {
	height: 80px;
	padding: 25px 20px; 
}

.tag a {
	width: 150px;
	height: 30px;
	line-height: 26px;
	text-align: center;
	font-size: 16px;
	color: #cc0000;
	background: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	display: block;
	float: left; 
}

.tag .active {
	color: #fff;
	background: #cc0000;
	border-color: #cc0000; 
}

.tag a + a {
	margin-left: 10px; 
}



/* info-list */

.info-list {
	width: 1200px;
}

.info-list li {
	padding: 10px;
	padding-right: 30px;
	margin-top: 13px;
	background: #fff;  
}

.info-list-img {
	width: 150px;
	height: 150px;
	margin-right: 30px; 
}

.info-list-img img {
	width: 100%;
	cursor: pointer; 
}

.info-list-cont {
	width: 980px; 
}

.info-list a {
	line-height: 42px;
	font-size: 18px;
	font-weight: bold;
	color: #333;
}

.info-list a:hover {
	color: #cc0000; 
}

.info-list p {
	height: 44px;
	line-height: 22px;
	color: #333;
	margin-top: 5px;
	margin-bottom: 25px; 
}

.page-box {
	padding: 25px 0px 80px 0px; 
}



/*  */

.pt30px {
	padding-top: 30px; 
}

.mr20px {
	margin-right: 20px; 
}